[submodule "agentic/multiagent"]
	path = agentic/multiagent
	url = https://github.com/AFOliveira/multiagent.git
[submodule "repos/binutils-gdb"]
	path = repos/binutils-gdb
	url = https://github.com/AFOliveira/binutils-gdb.git
[submodule "repos/riscv-unified-db"]
	path = repos/riscv-unified-db
	url = https://github.com/AFOliveira/riscv-unified-db.git
[submodule "repos/et-platform"]
	path = repos/et-platform
	url = https://github.com/AFOliveira/et-platform.git
[submodule "repos/core-et"]
	path = repos/core-et
	url = https://github.com/AFOliveira/core-et.git
[submodule "repos/zephyr"]
	path = repos/zephyr
	url = https://github.com/AFOliveira/zephyr.git
